<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<header>
		<nav class="nav-bar">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/vehicles">View Vehicles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/services">Recent Services</a>
				</li>
			</ul>
		</nav>
	</header>
	<body>
			<h1>Your <%=vehicle.make%>'s Details</h1>
		<main>
			<section>
				<h2><%=vehicle.make%> <%=vehicle.model%></h2>
					<p><%=vehicle.year%> <%=vehicle.color%> <%=vehicle.mileage%></p>
			</section>
			<div class="">
				<section>
					<a href="/vehicles/<%=vehicle._id%>/edit">Edit Vehicle</a>
					<a href="/services/new">Add New Service</a>
				</section>
			</div>
			<section>
        <form action="/vehicles/<%=vehicle._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Vehicle"/>
        </form>
      </section>
		</main>
	</body>
</html>
