<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<header>
		<nav class="nav-bar">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/vehicles">View Vehicles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/services">Recent Services</a>
				</li>
			</ul>
		</nav>
	</header>
		<body>
			<main>
			<h1>Edit <%=service.description%>'s Info</h1>
      <form action="/services" method="POST">
        Service Description <input type="text" name="description" value="<%=service.description%>"/><br/>
        Mileage Completed <input type="number" name="mileage" value="<%=service.mileage%>"/><br/>
        Date Completed <input type="date" name="date" value="<%=service.date%>"/><br/>
        Location of Service <input type="text" name="location" value="<%=service.location%>"/><br/>
        <input type="submit" value="Update Service"/>
      </form>
		</main>
	</body>
</html>
