<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<header>
		<nav class="nav-bar">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/vehicles">View Vehicles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/services">Recent Services</a>
				</li>
			</ul>
		</nav>
	</header>
  <body>
    <main>
      <h1>Add Service to Record</h1>
      <form action="/services" method="POST">
        Select Vehicle <select name="vehicleId">
          <% for(let i = 0; i < vehicles.length; i++) { %>
            <option value="<%=vehicles[i]._id%>"><%=vehicles[i].year%> <%=vehicles[i].make%> <%=vehicles[i].model%></option>
          <% } %>
        </select><br/>
        Category <select name="category">
          <% for(let i = 0; i < categories.length; i++) { %>
            <option value="<%=categories[i]%>"><%=categories[i]%></option>
          <% } %>
        </select><br/>
        Service Description <input type="text" name="description"/><br/>
        Mileage Completed <input type="number" name="mileage"/><br/>
        Date Completed <input type="date" name="date"/><br/>
        Location of Service <input type="text" name="location"/><br/>
        <input type="submit" value="Add Service"/>
      </form>
    </main>
  </body>
</html>
