<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <header>
    <nav class="nav-bar">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
      </ul>
    </nav>
  </header>
  <body>
    <main>
      <h2><%=service.description%></h2>
      <section>
        Service Description: <%=service.description%><br/>
        Mileage Performed: <%=service.mileage%><br/>
        Date Performed: <%=service.date%><br/>
        Service Location: <%=service.location%><br/>
      </section>
      <section>
        <form action="/services/<%=service._id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Service"/>
        </form>
      </section>
      <section>
        <a href="/services/<%=service._id%>/edit">Edit Service</a>
      </section>
    </main>
  </body>
</html>
